@import url(https://fonts.googleapis.com/css?family=Khula:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

* {margin:0;padding:0;box-sizing:border-box;}

body {
	color: #605A5B;
	font-family: 'Khula', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
}

header {
    margin: .5%
    padding: 2%;
}

nav {
	font-size: .8em;
    padding-top: 2.8%;
    width: 100%;
    padding-left: 2%;
}

nav a {
	padding: 1%;
}

h1 {
	font-family: 'Fauna One', serif;
	margin-top: 1%;
    margin-bottom: 1%;
	font-size: 1.4em;
	font-weight: 300;
    text-align: center;
    padding:1.5%;
}

h2 {
    font-family: 'Fauna One', serif;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    padding-bottom:2%;
}

h3 {
    font-family: 'Fauna One', serif;
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    padding: 1%;
}

img {
	width: 100%;
}

footer {
    font-size: .75em;
    clear:both;
    padding-top: 1%;

}

footer a {
    margin-left: 1%;
}


.logo {
    width: 15em;
    float:left;
    margin:1%
}

.designservices {
    margin: .5%;
}

#services a {
	float:left;
	font-size: .9em;
	margin: .5%;
	width: 32.33%;
	text-align: center;
}

a:link {
    color:rgba(0,0,0,0.9)
}

a:visited {
    color:rgba(0,0,0,0.9)
}

a:hover {
    color:rgb(185,224,247);
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}




#techpacks a{ 
    text-align: left;
}

#techpacks {
    width:49%;
    float: left;
    height: 50em;
    padding: 4%;
    background-color: rgba(194,130,106,.3);
    margin-left:.5%;
    margin-bottom:1%;
}


#wedding {
    width:49%;
    float:left;
    height: 50em;
    padding:4%;
    background-color: rgba(115,131,118,.2);
    margin-left: 1%;
}

#jessiedress {
    float: left;
    width: 75%;
    margin: 1%;
    padding-right: 2%;
    padding-top:2%;
}

#peplum {
    float:left;
    width: 75%;
    margin: 1%;
    padding-right: 2%;
    padding-top:2%;
}

#wrapper {
    padding-top: 4%;
}

#patternshop a{
    float:left;
    font-size: .75em;
    width: 19%;
    margin:.5%;
}

#patternshop {  
    background-color: rgba(105,97,128,.3);
    margin:.5%;
    clear:both;
    height: 50em;
    padding: 4%;
}

#biancapic {
    width: 18%;
    padding-right:2%;
    float: left;
}

#aboutbianca {
    background-color: rgba(185,224,247,.3);
    height: 40em;
    clear:both;
    margin-left:.5%;
    margin-right:.5%;
    margin-bottom:1%;
    margin-top:1%;
    padding: 4%;
}


#collections{
    background-color: rgba(115,131,118,.2);
    padding-top:4%;
    padding-bottom:2%;
    margin:.5%;
}


#artdeco a{
    float:left;
    font-size: .75em;
    margin: 0%;
    width: 20%;
}


#montecarlo a{
   float:left;
    font-size: .75em;
    margin: 0%;
    width: 20%;
}


#kyoto a{
    float:left;
    font-size: .75em;
    margin: 0%;
    width: 20%;
}


@media only screen and (max-width: 2100px) {

nav {
    padding-top:3.4%;
}

h1 {
    font-size:1.2em;
}
#aboutbianca {
    height: 32em;
}

#techpacks { 
    height: 40em;
}

#wedding {
    height: 40em;
}

#patternshop {
    height: 40em;
}
}

@media only screen and (max-width: 1636px) {

nav {
    padding-top:3.1%;
}

h1 {
    font-size:1.1em;
}
#aboutbianca {
    height: 24em;
}

#techpacks { 
    height: 30em;
}

#wedding {
    height: 30em;
}

#patternshop {
    height: 30em;
}

#wrapper {
    font-size:.85em;
}
#biancabio {
    font-size:.85em;
}

h2 {
    font-size:1em;
}

h3 {
    font-size:.8em;
}

.logo {
    width: 12em;
    float:left;
    margin:1%
}
}

@media only screen and (max-width: 1500px) {

nav {
    padding-top:2.4%;
}

h1 {
    font-size:1.1em;
}
#aboutbianca {
    height: 20em;
}

#techpacks { 
    height: 24em;
}

#wedding {
    height: 24em;
}

#patternshop {
    height: 24em;
}

#wrapper {
    font-size:.7em;
}

#biancabio {
    font-size:.7em;
}

header {
    font-size:.8em;
}

h2 {
    font-size:1em;
}

h3 {
    font-size:.8em;
}

.logo {
    width: 10em;
    float:left;
    margin:1%
}
#services {
    font-size:.8em;
}
}



@media only screen and (max-width: 1258px) {
 h1 {
  font-size: .9em;
 }

 header {
    padding: 2%;
 }

.logo {
    width: 14em;
    float:left;
    margin:1%;
    padding-top:2.5em;
}

nav a {
    text-align:right;
    font-size: .8em;
    padding:.5em;
    display:block;
 }

 #aboutbianca {
    height: 18em;
}

#techpacks { 
    height: 20em;
}

#wedding {
    height: 20em;
}

#patternshop {
    height: 20em;
}

#wrapper {
    font-size:.5em;
}

#biancabio {
    font-size:.5em;
}

header {
    font-size:.6em;
}

h2 {
    font-size:.8em;
}

h3 {
    font-size:.6em;
}


}
#services {
    font-size:.8em;
}

 footer {
    margin-left: auto;
    margin-right: auto; 
    font-size: .75em;
    text-align: center;
 }
}

@media only screen and (max-width: 1000px) {
 
 h1 {
  font-size: .6em;
 }

 header {
    padding: 2%;
 }

.logo {
    width: 14em;
    float:left;
    margin:1%;
    padding-top:2.5em;
}

nav a {
    text-align:right;
    font-size: .8em;
    padding:.5em;
    display:block;
 }

 #aboutbianca {
    height: 18em;
}

#techpacks { 
    height: 18em;
}

#wedding {
    height: 18em;
}

#patternshop {
    height: 18em;
}

#wrapper {
    font-size:.5em;
}

#biancabio {
    font-size:.5em;
}

header {
    font-size:.6em;
}

h2 {
    font-size:.6em;
}

h3 {
    font-size:.4em;
}

#services {
    font-size:.8em;
}

 footer {
    margin-left: auto;
    margin-right: auto; 
    font-size: .75em;
    text-align: center;
 }
}



@media only screen and (max-width: 400px) {

body {
    color: #605A5B;
    font-family: 'Khula', sans-serif;
    font-weight: 300;
    font-size: .4em;
}

h2 {
    padding-top:2%;
}

h3 {
    font-size:.3em;
}

#services a{
  font-size: .25em;
  float: none;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:4%; 
    width:50%;
 }
nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:4%;
}
 nav a{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align:right;
    font-size: .5em;
    padding:.01em;
 }

 #slogan {
    width:85%;
    padding-left: 12%;
 }

#techpacks {
    width:98%;
    float: none;
    height: 28em;
    padding:2%;
    background-color: rgba(194,130,106,.3);
    margin-left:1%;
}

#wedding{
    width:98%;
    float: none;
    height: 28em;
    padding:2%;
    background-color: rgba(115,131,118,.2);
    margin-left:1%;
}

#patternshop {
    height: 43em;
}

#patternshop a {
    width: 31.33%;
    padding-top: 1%;
}

#aboutbianca {
    background-color: rgba(185,224,247,.3);
    height: 30em;
    clear:both;
    margin:1%;
}

#biancabio {
    float:left;
    width: 68%;
    padding-right: 1%;
}

#biancapic {
    float:left;
    width: 20%;
    margin-left: 3%;
    margin-top: 8%;
}

 footer a {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align:center;
    font-size: .75em;
 }

 .designservices {
    padding: 1%; 
 }

.flats {
    padding: .1%;
 }

 #artdeco a{
    float:none;
    margin: 1%;
 }
 #montecarlo a{
    float:none;
    margin: 1%;
 }
 #kyoto a{
    float:none;
    margin: 1%;
 }
}


