@import url(https://fonts.googleapis.com/css?family=Khula:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

* {margin:0;padding:0;box-sizing:border-box;}

body {
	font-family: 'Khula', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
}

header {
    margin: .5% 

}

nav {
	font-size: 1.2em;
    width: 100%;
    padding: 1.5% 0% 0% 3%;
}

nav a {
    padding-left: 3%;
    vertical-align: bottom;
}

.logo {
    width: 15em;
    float:left;
}

h1 {
	font-family: 'Fauna One', serif;
	margin-top: 1%;
    margin-bottom: 1%;
	font-size: 1.8em;
	font-weight: 300;
    text-align: center;
    padding:1.5%;
}

h2 {
    font-family: 'Khula', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
    text-align: center;
    padding-bottom:2%;
}

h3 {
    font-family: 'Fauna One', serif;
    font-size: 1.4em;
    font-weight: 300;
    text-align: left;
    padding: 1%;
}

img {
    width: 100%;
}

footer {
    margin:.5%;
    padding: 4% 28% 4% 28%;
    background: rgba(44,41,104, .5);
}

#socialcontact a{
    float:left;
    width:12%;
    margin: 4% 6% 0 6%;
}

.designservices {
    margin: .5%;
}

#services a {
    float: left;
	margin: .5%;
	width: 32.33%;
    text-align: center;
}

#services p {
    position: absolute;
    vertical-align: center;
    margin-top: 17%;
    font-size: 2.8em;
    background: rgba(255,255,255,.6);
    width: 32.33%;
}

a:link {
    color:rgba(0,0,0,0.9)
}

a:visited {
    color:rgba(0,0,0,0.9)
}

a:hover {
    color:rgb(4,41,104);
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}




#techpacks a{ 
    text-align: left;
}

#techpacks {
    width:49%;
    float: left;
    padding: 4% 2% 4% 2%;
    background-color: rgba(212,63,39,.2);
    margin-left: 1%;
    margin-bottom:1%;
}


#wedding {
    width:49%;
    float:left;
    padding: 4% 2% 4% 2%;
    background-color: rgba(58,109,85,.2);
    margin-left: .5%;
}

#shortsset {
    float: left;
    width: 60%;
    padding-right:2%;
}

#jessiedress {
    float: left;
    width: 60%;
    padding-right:2%;
}




#patternshop {  
    background-color: rgba(244,208,55,.4);
    margin:.5%;
    clear:both;
    padding: 4% 1% 4% 1%;
    text-align: center;
}
#patternshop a{
    float:left;
    font-size: 1.5em;
    width: 19%;
    margin:.5%;
    background-color: white;
    border-style: solid;
}

#patternshop p{
    position: absolute;
    vertical-align: center;
    margin-top: 22%;
    font-size: 1em;
    width: 18.15%;
}


#biancapic {
    width: 47.5%;
    padding-right:3%;
    float: left;
}

#aboutbianca {
    background-color: rgba(175,221,254,.3);
    clear:both;
    margin: 1% .5% 1% .5%;
    padding: 4%;
}




#collections{
    background-color: rgba(230,222,218,.8);
    padding-top:4%;
    padding-bottom:4%;
    margin:.5%;
}


#kyoto a, #montecarlo a, #artdeco a{
    float:left;
    font-size: .75em;
    margin: 0%;
    width: 20%;
    padding-bottom: 3%;
}

@media only screen and (max-width: 1700px) {

body {
    font-size: 1.1em;
}

#services p {
    font-size: 2.6em;
}

nav {
    font-size: 1.1em;
    width: 100%;
    padding: 2.3% 0% 0% 3%;
}

@media only screen and (max-width: 1480px) {

nav {
    font-size: 1.1em;
    width: 100%;
    padding: 2.3% 0% 0% 3%;
}

h1 {
 font-size: 1.6em;
}

@media only screen and (max-width: 1480px) {

nav {
    font-size: 1.1em;
    width: 100%;
    padding: 2.3% 0% 0% 3%;
}

h1 {
 font-size: 1.6em;
}

@media only screen and (max-width: 1200px) {

body {
    font-size: .9em;
}

h1 {
 font-size: 1.4em;
}

#services p {
 font-size: 2.2em;
}

#patternshop p{
    margin-top: 21%;
    font-size: .9em;
}

@media only screen and (max-width: 950px) {

body {
    font-size: .9em;
}

h1 {
 font-size: 1.2em;
}

#services p {
 font-size: 1.9em;
}

h2 {
    font-size:1.6em;
}

@media only screen and (max-width: 800px) {

body {
    font-size: .8em;
}

h1 {
 font-size: 1.1em;
}

#services p {
 font-size: 1.6em;
}

h2 {
    font-size:1.5em;
}

body {
    font-size: .7em;
}

@media only screen and (max-width: 400px) {

body {
    font-size: .4em;
}

h1 {
    font-size:2.4em;
}
h2 {
    font-size:2.2em;
    padding:4%;
}

h3 {
    font-size:1.8em;
    padding:4%;
}

#services a{
  float: none;
}

.logo {
    padding-top: 3%;
}
nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav a{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align:right;
    font-size: .5em;
 }

#services p {
    position: absolute;
    vertical-align: center;
    margin-top: 55%;
    font-size: 3em;
    background: rgba(255,255,255,.6);
    width: 100%
}

#techpacks {
    float: none;
    width: 100%;
    margin:.5%;
}

#wedding{
    float: none;
    width:100%;
    margin:.5%;
}

#patternshop {
    padding: 8%;
}

#patternshop a{
    float:none;
    font-size: 1em;
    width: 80%;
    margin: 1%;
    border-style: none;
    margin-top:.5%;
   }

#patternshop p {
    position: absolute;
    vertical-align: center;
    margin-top: 98%;
    font-size: 3em;
    width: 85%
}
#aboutbianca {
    clear:both;
}

 #kyoto a, #montecarlo a, #artdeco a{
    float:none;
    margin: 1% 0 1% 0;
 }

footer {
    padding: 4% 10% 4% 10%;
    background: rgba(44,41,104, .5);
}
#socialcontact a{
    float:left;
    width:20%;
    margin: 2.5%;
}
}




