@import url(https://fonts.googleapis.com/css?family=Khula:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

* {margin:0;padding:0;box-sizing:border-box;}

body {
	color: #605A5B;
	font-family: 'Khula', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
}

nav {
	font-size: .75em;
	padding-top: 5%;
	padding-left: 2%;
    padding: 2%;
    width: 100%;
}

nav a {
	margin-right: 1%;
	padding-left: 1%;
}

h1, h2 {
	font-family: 'Fauna One', serif;
	margin-top: 1%;
    margin-bottom: 1%;
	font-size: 1.2em;
	font-weight: 300;
    padding-top: 2%;
    text-align: center;
}

h3 {
    font-family: 'Fauna One', serif;
    margin-top: 1%;
    font-size: 1em;
    font-weight: 300;
    padding-top: 2%;
    text-align: left;
    margin-left: 2%;
}

#slogan {
    text-align: center;
}

img {
	width: 100%;
}

footer {
	font-size: .75em;
    clear:both;
    padding-top: 3em;

}

footer a {
	margin-left: 1%;
}

.logo {
	width: 10em;
	float:left;
	margin-top:1%;
	padding-left: 1%;
}

.designservices {
    padding: 1%;
}

#services {
    padding: .1%;
}

#services a {
	float:left;
	font-size: .75em;
	margin: 1%;
	width: 31.33%;
	text-align: center;
}

a:link {
    color:rgba(0,0,0,0.9)
}

a:visited {
    color:rgba(0,0,0,0.9)
}

a:hover {
    color:rgb(185,224,247);
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#biancapic {
    float:left;
    width: 15%;
    margin-left: 3%;
}

#biancabio {
    float:left;
    width: 64%;
    padding-top: 3%;
    padding-right: 1%;
    margin-left:6em;
}

#aboutbianca {
    background-color: rgba(185,224,247,.3);
    height: 25em;
    clear:both;
    margin:1%;
    padding-top: 1%
}

#collections a{
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 31.33%;
    margin-left:1%;
}
#artdeco a{
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 31.33%;
    margin-left:1%;
}

#montecarlo a{
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 31.33%;
    margin-left:1%;
}

#kyoto a{
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 31.33%;
    margin-left:1%;
}

#patternshop a{
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 18%;
    margin-left:1%;
    padding-bottom: 2em;
}

#patternshop {  
    background-color: rgba(105,97,128,.2);
    margin-bottom: 2em;
    margin-left: 1%;
    margin-right: 1%;
    clear:both;
}
#techdesignservices {
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 20%;
    margin-left:1%;
}

#peplum {
    float:left;
    width: 40%;
    margin-left: 3%;
    padding-top: 2em;
}

#techpacks a{
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 31.33%; 
    text-align: left;
}

#techpacks {
    width:48.5%;
    float: left;
    height: 23em;
    padding-top: 1em;
    background-color: rgba(194,130,106,.3);
    margin-left:1%;
}

#techdesigndescription {
    float:left;
    width: 40%;
    padding-top: 4%;
    margin-top: 2%;
    margin-left: 5%;
    padding-right: 1%;
}


#wedding a{
    margin-top:50%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 50%; 
}

#wedding {
    width:48.5%;
    float:left;
    height: 23em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(115,131,118,.2);
    margin-left:1%;
    margin-bottom: 1%;
}

#jessiedress {
    float:left;
    width: 50%;
    margin-left: 3%;
    padding-top: 2em;
}

#customdresssescription {
    float:left;
    width: 40%;
    padding-top: 4%;
    margin-top: 2%;
    margin-left: 5%;
    padding-right: 1%;
}



