@import url(https://fonts.googleapis.com/css?family=Khula:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

* {margin:0;padding:0;box-sizing:border-box;}

body {
	color: #605A5B;
	font-family: 'Khula', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
}

nav {
	font-size: .75em;
	padding-top: 5%;
	padding-left: 2%;
    padding: 2%;
    width: 100%;
}

nav a {
	margin-right: 1%;
	padding-left: 1%;
}

h1, h2 {
	font-family: 'Fauna One', serif;
	margin-top: 1%;
    margin-bottom: 1%;
	font-size: 1.2em;
	font-weight: 300;
    padding-top: 3%;
    text-align: center;
}

h3 {
    font-family: 'Fauna One', serif;
    margin-top: 1%;
    font-size: 1em;
    font-weight: 300;
    padding-top: 1%;
    text-align: left;
    margin-left: 2%;
}

#slogan {
    text-align: center;
}

img {
	width: 100%;
}

footer {
	font-size: .75em;
    clear:both;
    padding-top: 1%;

}

footer a {
	margin-left: 1%;
}

.logo {
	width: 10em;
	float:left;
	margin-top:1%;
	padding-left: 1%;
}

.designservices {
    padding: 1%;
}

#services {
    padding: .1%;
}

#services a {
	float:left;
	font-size: .75em;
	margin: 1%;
	width: 31.33%;
	text-align: center;
}

a:link {
    color:rgba(0,0,0,0.9)
}

a:visited {
    color:rgba(0,0,0,0.9)
}

a:hover {
    color:rgb(185,224,247);
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#biancapic {
    float:left;
    width: 18%;
    margin-left: 3%;
}

#biancabio {
    float:left;
    width: 64%;
    margin-left:3%;
    padding-top: 5%;
}

#aboutbianca {
    background-color: rgba(185,224,247,.3);
    height: 30em;
    clear:both;
    margin: 1%;
}

#collections a{
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 31.33%;
    margin-left:1%;
}
#artdeco a{
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 31.33%;
    margin-left:1%;
}

#montecarlo a{
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 31.33%;
    margin-left:1%;
}

#kyoto a{
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 31.33%;
    margin-left:1%;
}

#patternshop a{
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 18%;
    margin-left:1%;
}

#patternshop {  
    background-color: rgba(105,97,128,.2);
    margin-left: 1%;
    margin-right: 1%;
    clear:both;
    height: 32em;
}
#techdesignservices {
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 20%;
    margin-left:1%;
}

#peplum {
    float:left;
    width: 40%;
    margin-left: 3%;
    padding-top: 2em;
}

#techpacks a{
    margin-top:10%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 31.33%; 
    text-align: left;
}

#techpacks {
    width:48.5%;
    float: left;
    height: 25em;
    padding-top: 1em;
    background-color: rgba(194,130,106,.3);
    margin-left:1%;
}

#techdesigndescription {
    float:left;
    width: 40%;
    padding-top: 4%;
    margin-top: 2%;
    margin-left: 5%;
    padding-right: 1%;
}


#wedding a{
    margin-top:50%;
    float:left;
    font-size: .75em;
    margin: 1%;
    width: 50%; 
}

#wedding {
    width:48.5%;
    float:left;
    height: 25em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(115,131,118,.2);
    margin-left:1%;
    margin-bottom: 1%;
}

#jessiedress {
    float:left;
    width: 50%;
    margin-left: 3%;
    padding-top: 2em;
}

#customdresssescription {
    float:left;
    width: 40%;
    padding-top: 4%;
    margin-top: 2%;
    margin-left: 5%;
    padding-right: 1%;
}

@media only screen and (max-width: 1258px) {
 h1 {
  font-size: 1em;
 }
 .logo {
    margin: auto;
    width: 30%;
    padding: 2%;
 }
nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:2%;
}
 nav a{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align:right;
    font-size: .5em;
    padding-right:2%;
 }
 footer {
    margin-left: auto;
    margin-right: auto; 
    font-size: .75em;
    text-align: center;
 }
}

@media only screen and (max-width: 400px) {

body {
    color: #605A5B;
    font-family: 'Khula', sans-serif;
    font-weight: 300;
    font-size: .5em;
}


#services a{
  font-size: ..25em;
  float: none;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:4%; 
    width:50%;
 }
nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:4%;
}
 nav a{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align:right;
    font-size: .5em;
 }

#techpacks {
    width:98%;
    float: none;
    height: 23em;
    padding-top: 1em;
    background-color: rgba(194,130,106,.3);
    margin-left:1%;
}

#wedding {
    width:98%;
    float:none;
    height: 23em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(115,131,118,.2);
    margin-left:1%;
    margin-bottom: 1%;
    margin-top: 1%;
}

#patternshop {
    height: 43em;
}

#patternshop a {
    width: 31.33%;
    padding-top: 1%;
}

#aboutbianca {
    background-color: rgba(185,224,247,.3);
    height: 28em;
    clear:both;
    margin:1%;
}

#biancabio {
    float:left;
    width: 68%;
    padding-right: 1%;
}

#biancapic {
    float:left;
    width: 20%;
    margin-left: 3%;
    margin-top: 8%;
}

 footer a {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align:center;
    font-size: .75em;
 }
 h1 {
  font-size: .5em;
 }

 .designservices {
    padding: .1%; 
 }
.flats {
    padding: .1%;
 }

 #artdeco a{
    float:none;
    margin: 1%;
 }
 #montecarlo a{
    float:none;
    margin: 1%;
 }
 #kyoto a{
    float:none;
    margin: 1%;
 }
}


