@import url(https://fonts.googleapis.com/css?family=Khula:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

* {margin:0;padding:0;box-sizing:border-box;}

body {
	font-family: 'Khula', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
}

header {
    margin: .5% 

}

nav {
	font-size: 1.2em;
    width: 100%;
    padding: 1.5% 0% 0% 3%;
}

nav a {
    padding-left: 3%;
    vertical-align: bottom;
}

.logo {
    width: 15em;
    float:left;
}

h1 {
	font-family: 'Fauna One', serif;
	margin-top: 1%;
    margin-bottom: 1%;
	font-size: 1.8em;
	font-weight: 300;
    text-align: center;
    padding:1.5%;
}

h2 {
    font-family: 'Khula', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
    text-align: center;
    padding-bottom:2%;
}

h3 {
    font-family: 'Fauna One', serif;
    font-size: 1.4em;
    font-weight: 300;
    text-align: left;
    padding: 1%;
}

img {
    width: 100%;
}

footer {
    margin:.5%;
    padding: 4% 28% 4% 28%;
    background: rgba(44,41,104, .5);
}

#socialcontact a{
    float:left;
    width:12%;
    margin: 4% 6% 0 6%;
}

.designservices {
    margin: .5%;
}

#services a {
    float: left;
	margin: .5%;
	width: 32.33%;
    text-align: center;
}

#services p {
    position: absolute;
    vertical-align: center;
    margin-top: 17%;
    font-size: 3em;
    background: rgba(255,255,255,.6);
    width: 32.33%;
}

a:link {
    color:rgba(0,0,0,0.9)
}

a:visited {
    color:rgba(0,0,0,0.9)
}

a:hover {
    color:rgb(4,41,104);
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}




#techpacks a{ 
    text-align: left;
}

#techpacks {
    width:49%;
    float: left;
    padding: 4%;
    background-color: rgba(212,63,39,.2);
    margin-left: 1%;
    margin-bottom:1%;
}


#wedding {
    width:49%;
    float:left;
    padding:4%;
    background-color: rgba(58,109,85,.2);
    margin-left: .5%;
}

#shortsset {
    float: left;
    width: 75%;
    padding-right: 2%;
}

#jessiedress {
    float: left;
    width: 75%;
    padding-right: 2%;
}


#wrapper {
    padding-top: 2%;
}

#patternshop {  
    background-color: rgba(244,208,55,.4);
    margin:.5%;
    clear:both;
    padding: 4% 1% 4% 1%;
    text-align: center;
}
#patternshop a{
    float:left;
    font-size: 1.5em;
    width: 19%;
    margin:.5%;
    background-color: white;
    border-style: solid;
}

#patternshop p{
    position: absolute;
    vertical-align: center;
    margin-top: 22%;
    font-size: 1em;
    width: 18.15%;
}


#biancapic {
    width: 47.5%;
    padding-right:3%;
    float: left;
}

#aboutbianca {
    background-color: rgba(175,221,254,.3);
    clear:both;
    margin: 1% .5% 1% .5%;
    padding: 4%;
}




#collections{
    background-color: rgba(230,222,218,.8);
    padding-top:4%;
    padding-bottom:4%;
    margin:.5%;
}


#kyoto a, #montecarlo a, #artdeco a{
    float:left;
    font-size: .75em;
    margin: 0%;
    width: 20%;
    padding-bottom: 3%;
}





